body {
    padding: 0 0 40px 0;
    font-size: 13px;
    font-family: sans-serif,arial,helvetica !important;
}
h1, h2 {
    font-weight: bold;
}
h1 {
    display: inline-block;
    float: left;
    text-transform: uppercase;
    margin: 0;
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    color: #fff;
}
h2 {
    font-size: 13px;
    line-height: 30px;
    color: #666;
}
header {
    color: #fff;
    background: #111;
    background: -webkit-gradient(linear,left top,left bottom,from(#333),to(#111));
    background: -moz-linear-gradient(top,#333,#111);
    background: transparent	9;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333',endColorstr='#111111');
    box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
    height: 40px;
}
header fieldset {
    padding-top: 5px;
}
small {
    font-size: 12px;
    color: #999;
    display: inline-block;
    min-width: 14px;
}
.kw_section {
    position: relative;
    padding-top: 10px;
    margin: 0 20px;
}
.kw_section:first-child {
    padding-top: 0;
    border-top: 0;
}
header.kw_section {
    position: relative;
    margin: 0;
    padding: 0 20px;
}
.kw_section form {
    display: inline-block;
    position: relative;
    float: right;
}
.kw_section fieldset {
    display: inline-block;
    padding: 0 5px;
    margin: 0;
    border: 0;
}
.kw_section fieldset.sort {
    display: none;
}
.kw_section label,
#kw_refresh div {
    padding: 0 5px;
    color: #666;
    font-weight: bold;
    display: inline-block;
}
#kw_queues.kw_section form {
    position: absolute;
    top: 10px;
    right: 0;
}
header #kw_refresh,
header #kw_sections {
    top: 5px;
    right: 10px;
    height: 30px;
    color: #fff !important;
    float: right;
}
header #kw_sections {
    margin-left: 20px;
    background: rgba(255,255,255,0.2);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: left;
    padding-left: 10px;
}
header label {
    line-height: 30px;
}
header #kw_sections label {
    padding-left: 0;
    padding-right: 10px;
}
#kw_refresh #refresh {
    display: inline-block;
    line-height: inherit;
    font-weight: bold;
}
header label {
    margin-bottom: 0;
    color: #fff !important;
}
#kw_refresh div {
    color: #fff !important;
}

#kw_refresh #error_count,
#kw_refresh button {
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #3cb500;
    color: #fff;
    padding: 0 8px;
    font-weight: bold;
    border: 0;
    font-family: sans-serif,arial,helvetica !important;
}
#kw_refresh #errors {
    display: none;
}
#kw_refresh #error_count {
    background-color: #e90000 !important;
    border: 0;
    margin: 0;
    color: #fff;
}
#kw_refresh button {
    padding: 0 6px 0 18px;
    background: #3cb500 url('/static/img/kw_sprite.png') 0 -20px no-repeat;
    font-size: inherit;
    line-height: inherit;
}
#kw_refresh button.paused {
    background: #e90000 url('/static/img/kw_sprite.png') 0 -40px no-repeat;
}
#kw_refresh button:hover {
    cursor: pointer;
}
.kw_table tr {
    color: #444;
}
.kw_table td {
    font-family: 'Bitstream Vera Sans Mono', 'Courier', monospace;
}.kw_table tr:hover td {
    color: #333;
    background-color: #ffff80 !important;
}
.kw_table th, .kw_table td {
    line-height: 120%;
    font-size: 11px;
    font-weight: normal;
}
.kw_table th {
    vertical-align: bottom;
    background-color: #eef1f8;
    color: #333;
    padding: 4px 2px 4px 4px;
    border-right: 1px solid #fff;
    position: relative;
}
.kw_table th:hover {
    cursor: default;
}
.kw_table th.current_sort {
    font-weight: bold;
    background-color: #c5cad9;
}
.kw_table th span {
    display: none;
}
.kw_table th.current_sort span {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background: transparent url('/static/img/kw_sprite.png') 100% -120px no-repeat;
}
.kw_table th.current_sort.reversed span {
    background: transparent url('/static/img/kw_sprite.png') 100% -150px no-repeat;
}
.kw_table th a:link,
.kw_table th a:visited {
    display: block;
    height: inherit;
    color: #333;
    text-decoration: none;
    position: relative;
}
.kw_table th a:hover,
.kw_table th a:active {
    color: #222;
    text-decoration: underline;
}
.kw_table td {
    border-right: 1px solid #ddd;
}
.kw_table td.numeric {
    text-align: right;
}
.kw_table tr:nth-child(even) td {
    background: #eee;
}
td.queue,
td.server {
    width: 120px;
}