<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Kestrel Web UI</title>
    <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
</head>
<body>
Servers: <input type="text" name="servers" id="servers" value="127.0.0.1:22133">
<table>
  <thead>
    <tr>
      <th title="the server host:port">server</th>
      <th title="version string, like 1.2">version</th>
      <th title="seconds the server has been online">uptime</th>
      <th title="current time in unix epoch">time</th>
      <th title="current open connections from clients">current connections</th>
      <th title="total connections that have been opened in this server's lifetime">total connections</th>
      <th title="total of items waiting in all queues">current items</th>
      <th title="total of items that have ever been added in this server's lifetime">total items</th>
      <th title="total SET requests">set</th>
      <th title="total GET requests">get</th>
      <th title="total GET/peek requests">peek</th>
      <th title="total GET requests that received an item">hits</th>
      <th title="total GET requests on an empty queue">misses</th>
      <th title="total bytes read from clients">read</th>
      <th title="total bytes written to clients">write</th>
    </tr>
  </thead>
  <tbody id="server_stats"></tbody>
</table>

<hr>

<table>
  <thead>
    <tr>
      <th title="the server">server</th>
      <th title="the queue name">queue</th>
      <th title="byte size of the queue's journal file">logsize</th>
      <th title="total items that have been added to this queue in this server's lifetime">total items</th>
      <th title="total items that have been expired from this queue in this server's lifetime">expired items</th>
      <th title="items waiting in this queue">items</th>
      <th title="items in this queue that are currently in memory">items (mem)</th>
      <th title="total byte size of items waiting in this queue">size</th>
      <th title="total byte size of items in this queue that are currently in memory (will always be less than or equal to max_memory_size config for the queue)">size (mem)</th>
      <th title="time, in milliseconds, that the last item to be fetched from this queue had been waiting; that is, the time between SET and GET; if the queue is empty, this will always be zero">age</th>
      <th title="number of clients waiting for an item from this queue (using GET/t)">waiters</th>
      <th title="items read with /open but not yet confirmed">open transactions</th>
    </tr>
  </thead>
  <tbody id="queue_stats"></tbody>
</table>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/lib.js" type="text/javascript"></script>
</body>
</html>