<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Kestrel Web UI</title>
    <link rel="stylesheet" href="/static/css/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="/static/css/blueprint/print.css" type="text/css" media="print">
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="/static/css/blueprint/ie.css" type="text/css" media="screen, projection">
    <![endif]-->
</head>
<body>
    <label for="servers">Servers:</label>
    <input type="text" name="servers" id="servers" value="127.0.0.1:22133">

    <label for="refresh">Refresh:</label>
    <input type="text" name="refresh" id="refresh" value="5">
    <input type="button" name="btn_refresh" id="btn_refresh" value="Stop">

    <label for="qsort">Sort:</label>
    <select id="qsort" name="qsort">
        <option value="queue">queue</option>
        <option value="server">server</option>
        <option value="logsize">logsize</option>
        <option value="total_items">total items</option>
        <option value="expired_items">expired items</option>
        <option value="items">items</option>
        <option value="mem_items">items (mem)</option>
        <option value="size">size</option>
        <option value="mem_size">size (mem)</option>
        <option value="age">age</option>
        <option value="waiters">waiters</option>
        <option value="open_transactions">open transactions</option>
    </select>

    <label for="qreverse">Reverse:</label>
    <select id="qreverse" name="qreverse">
        <option value="0">No</option>
        <option value="1">Yes</option>
    </select>

    <label for="qfilter">Filter:</label>
    <input type="text" id="qfilter" name="qfilter" value="">

    <span id="error">Error: <span id="error_count">0</span></span>

    <div id="content">
        <div id="servers_content"></div>
        <div id="queues_content"></div>
    </div>

<script id="tmpl_servers" type="text/html">
  <table>
    <thead>
      <tr>
        <th title="the server host:port">server</th>
        <th title="version string, like 1.2">version</th>
        <th title="seconds the server has been online">uptime</th>
        <th title="current time in unix epoch">time</th>
        <th title="current open connections from clients">current connections</th>
        <th title="total connections that have been opened in this server's lifetime">total connections</th>
        <th title="total of items waiting in all queues">current items</th>
        <th title="total of items that have ever been added in this server's lifetime">total items</th>
        <th title="total SET requests">set</th>
        <th title="total GET requests">get</th>
        <th title="total GET/peek requests">peek</th>
        <th title="total GET requests that received an item">hits</th>
        <th title="total GET requests on an empty queue">misses</th>
        <th title="total bytes read from clients">read</th>
        <th title="total bytes written to clients">write</th>
      </tr>
    </thead>
    <tbody>
    {{#servers}}
    <tr>
      <td>{{server}}{{^server}}-{{/server}}</td>
      {{#stats}}
      <td>{{version}}{{^version}}-{{/version}}</td>
      <td>{{uptime}}{{^uptime}}-{{/uptime}}</td>
      <td>{{time}}{{^time}}-{{/time}}</td>
      <td>{{#numeric}}{{curr_connections}}{{/numeric}}</td>
      <td>{{#numeric}}{{total_connections}}{{/numeric}}</td>
      <td>{{#numeric}}{{curr_items}}{{/numeric}}</td>
      <td>{{#numeric}}{{total_items}}{{/numeric}}</td>
      <td>{{#numeric}}{{cmd_set}}{{/numeric}}</td>
      <td>{{#numeric}}{{cmd_get}}{{/numeric}}</td>
      <td>{{#numeric}}{{cmd_peek}}{{/numeric}}</td>
      <td>{{#numeric}}{{get_hits}}{{/numeric}}</td>
      <td>{{#numeric}}{{get_misses}}{{/numeric}}</td>
      <td>{{#size}}{{bytes_read}}{{/size}}</td>
      <td>{{#size}}{{bytes_written}}{{/size}}</td>
      {{/stats}}
    </tr>
    {{/servers}}
    </tbody>
  </table>
</script>

<script id="tmpl_queues" type="text/html">
  <table>
    <thead>
      <tr>
        <th title="the queue name">queue</th>
        <th title="the server">server</th>
        <th title="byte size of the queue's journal file">logsize</th>
        <th title="total items that have been added to this queue in this server's lifetime">total items</th>
        <th title="total items that have been expired from this queue in this server's lifetime">expired items</th>
        <th title="items waiting in this queue">items</th>
        <th title="items in this queue that are currently in memory">items (mem)</th>
        <th title="total byte size of items waiting in this queue">size</th>
        <th title="total byte size of items in this queue that are currently in memory (will always be less than or equal to max_memory_size config for the queue)">size (mem)</th>
        <th title="time, in milliseconds, that the last item to be fetched from this queue had been waiting; that is, the time between SET and GET; if the queue is empty, this will always be zero">age</th>
        <th title="number of clients waiting for an item from this queue (using GET/t)">waiters</th>
        <th title="items read with /open but not yet confirmed">open transactions</th>
        <th>commands</th>
      </tr>
    </thead>
    <tbody>
      {{#queues}}
      <tr id="{{server}}.{{queue}}" x-kestrel-server="{{server}}" x-kestrel-queue="{{queue}}">
        <td>{{queue}}</td>
        <td>{{server}}</td>
        <td>{{#size}}{{logsize}}{{/size}}</td>
        <td>{{#numeric}}{{total_items}}{{/numeric}}</td>
        <td>{{#numeric}}{{expired_items}}{{/numeric}}</td>
        <td>{{#numeric}}{{items}}{{/numeric}}</td>
        <td>{{#numeric}}{{mem_items}}{{/numeric}}</td>
        <td>{{#size}}{{bytes}}{{/size}}</td>
        <td>{{#size}}{{mem_bytes}}{{/size}}</td>
        <td>{{#numeric}}{{age}}{{/numeric}}</td>
        <td>{{#numeric}}{{waiters}}{{/numeric}}</td>
        <td>{{#numeric}}{{open_transactions}}{{/numeric}}</td>
        <td><a href="" class="cmd" x-kestrel-action="flush">flush</a> | <a href="" class="cmd" x-kestrel-action="delete">delete</a></td>
      </tr>
      {{/queues}}
    </tbody>
  </table>
</script>

<script src="/static/js/jquery.min.js" type="text/javascript"></script>
<script src="/static/js/mustache.js" type="text/javascript"></script>
<script src="/static/js/lib.js" type="text/javascript"></script>
</body>
</html>