<table>
<thead>
  <tr>
    <th title="the server host:port">server</th>
    <th title="version string, like 1.2">version</th>
    <th title="seconds the server has been online">uptime</th>
    <th title="current time in unix epoch">time</th>
    <th title="current open connections from clients">current connections</th>
    <th title="total connections that have been opened in this server's lifetime">total connections</th>
    <th title="total of items waiting in all queues">current items</th>
    <th title="total of items that have ever been added in this server's lifetime">total items</th>
    <th title="total SET requests">set</th>
    <th title="total GET requests">get</th>
    <th title="total GET/peek requests">peek</th>
    <th title="total GET requests that received an item">hits</th>
    <th title="total GET requests on an empty queue">misses</th>
    <th title="total bytes read from clients">read</th>
    <th title="total bytes written to clients">write</th>
    <th></th>
  </tr>
</thead>
<tbody>
{{#servers}}
<tr id="{{server}}" x-kestrel-server="{{server}}">
  <td>{{server}}</td>
  {{#stats}}
  <td>{{version}}</td>
  <td>{{uptime}}</td>
  <td>{{time}}</td>
  <td>{{#numeric}}{{curr_connections}}{{/numeric}}</td>
  <td>{{#numeric}}{{total_connections}}{{/numeric}}</td>
  <td>{{#numeric}}{{curr_items}}{{/numeric}}</td>
  <td>{{#numeric}}{{total_items}}{{/numeric}}</td>
  <td>{{#numeric}}{{cmd_set}}{{/numeric}}</td>
  <td>{{#numeric}}{{cmd_get}}{{/numeric}}</td>
  <td>{{#numeric}}{{cmd_peek}}{{/numeric}}</td>
  <td>{{#numeric}}{{get_hits}}{{/numeric}}</td>
  <td>{{#numeric}}{{get_misses}}{{/numeric}}</td>
  <td>{{#size}}{{bytes_read}}{{/size}}</td>
  <td>{{#size}}{{bytes_written}}{{/size}}</td>
  <td><a href="" class="cmd" x-kestrel-action="flush_all" title="flush all">f</a> | <a href="" class="cmd" x-kestrel-action="reload" title="reload config">r</a> | <a href="" class="cmd" x-kestrel-action="shutdown" title="shutdown">s</a></td>
  {{/stats}}
  {{^stats}}
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  <td>-</td>
  {{/stats}}
</tr>
{{/servers}}
</tbody>
</table>